irc:
    server: irc.libera.chat
    port: 6667
    ssl: false
    nick: irrawaddy-test
    channels:
        - "#dolphin-test"
    rebuild_repo: dolphin-emu/dolphin

web:
    external_url: https://central.dolphin-emu.org
    bind: 127.0.0.1
    port: 8001

git:
    repos_path: /tmp/central-repos
    git_path: /usr/bin/git

github:
    app:
      id: 1234
      priv_key_path: /path/to/key.pem
      username: dolphin-ci
    maintain:
        - dolphin-emu/dolphin
    notify:
        - dolphin-emu/sadm
        - dolphin-emu/www
    trusted_users:
        group: dolphin-emu/trusted-developers
        refresh_interval: 300
    core_users:
        group: dolphin-emu/core-developers
        refresh_interval: 600
    hook_hmac_secret: SECRET
    rebuild_command: "@dolphin-emu-bot rebuild"

buildbot:
    url: https://dolphin.ci/
    change_hook_username: SECRET
    change_hook_password: SECRET
    # Builders for which a BuildStatus event is dispatched on completion
    pr_builders:
        - pr-android
        - pr-deb-x64
        - pr-deb-dbg-x64
        - pr-freebsd-x64
        - pr-osx-x64
        - pr-ubu-x64
        - pr-win-x64
        - pr-win-dbg-x64
        - lint
    # Builders for which a PullRequestFifoCIStatus event is dispatched on completion
    fifoci_builders:
        - pr-fifoci-ogl-lin-mesa
        - pr-fifoci-sw-lin-mesa
        - pr-fifoci-ogl-lin-radeon
        - pr-fifoci-uberogl-lin-radeon

fifoci:
    url: https://fifoci.ci/

wiki:
    host: wiki.dolphin-emu.org
    path: /
    username: BuildBot
    password: SECRET
    latest_dev_page: Template:CurrentGitRevision
